.btn {
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn:hover:not(:disabled) {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Primary button */
.primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* Secondary button */
.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Accent button */
.accent {
    background-color: var(--accent-color);
    color: #ffffff;
}

/* Alert button */
.alert {
    background-color: var(--alert-color);
    color: #ffffff;
}