.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    width: 50rem;
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

label {
    font-size: 24px;
    font-weight: 500;
}

input {
    background-color: var(--secondary-color);
    border: none;
    height: 2rem;
    border-radius: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

input:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);;
    transform: scale(1.025);
}

/* Header group */
.toggleTypeContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.toggleGroup {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.xButton {
    align-self: flex-start;
    flex-shrink: 0;
}

.toggleButton {
    flex: 1;
    padding: 0.6rem 1rem;
    color: var(--secondary-text-color);
    border-radius: .5rem;
    background-color: var(--secondary-color);
    width: auto;
    font-size: 18px;
    transition: all 0.2s ease;
}

.active {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    font-size: 32px;
}

/* Title and Category */
.titleAndCategory {
    display: flex;
    gap: 1rem;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.categoryDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.labelInputPair {
    display: flex;
    flex-direction: column;
}

/* Start / End time */
.time {
    max-width: 2rem;
    text-align: center;
}

.MM {

}

.DD {

}

.YYYY {
    max-width: 3rem;
}

.Hour {

}

.Minute {

}